@model IEnumerable<WebScraping.Entity.Book>
@section styles
{
    <style>
        .sidenav {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }
         
    </style>
}

        

@foreach (var book in Model)
{

    <div class="col-md-2 d-flex align-items-stretch mb-1">
        <div class="card border-0" style="width: 100%;">
            <div class="image">
                <img src="@book.Image" class="card-img-top img img-fluid" alt="..." id="img">
            </div>
            <div class="card-body">
                <h5 class="card-title">@(book.Name.Length > 20 ? book.Name.Substring(0, 20) + "..." : book.Name)</h5>

                <p class="card-text">
                    <h4>
                        <span class="badge badge-pill" style="background-color: cornflowerblue;color: white">
                            @Html.Raw(book.Price.Replace("TL", " <i class='fa fa-try' aria-hidden='true'></i>"))
                        </span>
                    </h4>
                </p>
                <p class="card-text">@book.Website</p>
                <p class="card-text font-weight-bold h5"><i class="fa fa-book fa-lg" aria-hidden="true"></i> @book.Publisher</p>
            </div>
        </div>

    </div>




}

