@using WebScraping.WebUI.ViewModel
@model ItemViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>title</title>

    @section styles
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            ul {
                width: 25%;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    }

</head>
<body>

    <div class="row">
        @* Dropdown ile seçilince karşımıza çıkan ürünler*@
        <div class="container">
            @if (Model.Books.Count() > 0)
            {
                <p class="text-center h2">@Model.Books.ToList()[0].WebsiteName Çok Satanlar</p>
                <hr>
                <div class="row">
                    @Html.Partial("_BookPartial", Model.PaginatedBooks())
                </div>


                <ul class="pagination">
                    @for (int i = 1; i <= Model.PageCount(); i++)
                    {
                        <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                            <a class="page-link" href="@Url.Action("GetWebsite", new {page = i})">@i</a>
                        </li>
                    }
                </ul>
            }


        </div>
    </div>
</body>
</html>