@using WebScraping.WebUI.Models
@using WebScraping.WebUI.ViewModel
@model ItemViewModel



@section styles
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>


        .center {
            text-align: center;
        }

        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
                margin: 0 4px;
            }

                .pagination a.active {
                    background-color: #4CAF50;
                    color: white;
                    border: 1px solid #4CAF50;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

        input[type="range"] {
            width: 50%;
        }

        input[type="text"] {
            width: 90%;
            margin: .5rem 1rem;
            border: 1px solid #ccc;
            padding: 2px 0 2px 9px;
        }

        .preload {
            display: none;
        }

        .preload {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            opacity: 0.6;
            background-color: #fff;
            z-index: 99;
            text-align: center;
        }

        .preload-img {
            position: absolute;
            top: 20%;
            left: 40%;
            z-index: 100;
        }

        .zg-badge-body.zg-badge-color {
            background-color: #4CAF50;
        }

        .zg-badge-body {
            height: 25px;
        }

        .a-float-left, .aok-float-left {
            float: left !important;
        }

        .a-size-small {
            font-size: 12px !important;
            line-height: 16px !important;
        }

        .zg-badge-text {
            font-size: 14px;
            line-height: 25px;
            padding: 0 8px;
            color: #fff;
        }

        .a-float-right, .aok-float-right {
            float: right !important;
        }
    </style>


}


@Html.Partial("_NavbarPartial")

@Html.Partial("_Slider")

@{
    for (int i = 0; i < Model.Books.ToList().Count; i++)
    {
        Model.Books.ToList()[i].Price = Model.Books.ToList()[i].Price.Replace("TL", "");
        Model.Books.ToList()[i].Price = Model.Books.ToList()[i].Price.Replace(",", ".");
    }
    double maxPrice = 0.0;
    double minPrice = 0.0;
    if (Model.Books.ToList().Count > 0)
    {
        maxPrice = Model.Books.Max(b => double.Parse(b.Price.Trim()));
        minPrice = Model.Books.Min(b => double.Parse(b.Price));

    }
    int n = 1;
}
<div class="filter">
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#mobile-filter" aria-expanded="true" aria-controls="mobile-filter">Filters<span class="fa fa-filter pl-1"></span></button>
</div>
<div id="mobile-filter">

    <div class="py-5 border-bottom ml-3">
        <form action="~/Home/GetFilteredItems" method="POST">
            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_aside2"
                       data-abc="true" aria-expanded="true">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title d-inline">Fiyat </h6>
                    </a>
                </header>

                <div class="collapse show" id="collapse_aside2">
                    <div class="card-body">
                        @minPrice
                        <i class='fa fa-try' aria-hidden='true'></i>
                        <input type="range" class="custom-range" min="@minPrice" max="@maxPrice" name="rangeSliderMobileFilter" id="rangeSliderMobileFilter" oninput="sliderChange(this.value)">
                        @maxPrice
                        <i class='fa fa-try' aria-hidden='true'></i>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Min</label>
                                <input class="form-control"
                                       placeholder="@(Convert.ToInt32(minPrice))₺" type="number" name="minPrice" id="minPriceMobileFilter">
                            </div>
                            <div class="form-group text-right col-md-6">
                                <label>Max</label>
                                <input class="form-control"
                                       placeholder="@(Convert.ToInt32(maxPrice))₺" type="number" name="maxPrice" id="maxPriceMobileFilter">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-xl" style="width: 100%;">
                            Uygula
                        </button>
                    </div>
                </div>
            </article>
        </form>
    </div>
    <div class="py-2 border-bottom ml-3">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside3"
                   data-abc="true" class="collapsed" aria-expanded="false">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title d-inline">Yayınevleri </h6>
                </a>
            </header>
            <div class="filter-content collapse" id="collapse_aside3" style="">
                <div class="card-body overflow-auto" style="height: 20rem;">

                    @foreach (var publisher in (IEnumerable<ItemCheckedModel>)TempData["Publishers"] == null ? (IEnumerable<ItemCheckedModel>)ViewBag.Publishers : (IEnumerable<ItemCheckedModel>)TempData["Publishers"])
                    {
                        <form action="~/Home/GetBooksByPublisher" method="POST">
                            <input type="hidden" name="publisher" value="@publisher.ItemName" />
                            <input type="hidden" name="publisherId" value="@publisher.ItemId" />
                            <label class="checkbox-btn">
                                <input type="checkbox" name="chkPublisher" id="chkPublisher@(publisher.ItemId)" checked="@publisher.IsCheck" onclick="if (this.checked || this.checked == false) { this.form.submit() }"> <span class="btn btn-light"> @publisher.ItemName </span>
                            </label>
                        </form>
                    }


                </div>
            </div>

        </article>
    </div>
    <div class="py-2 ml-3">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside4"
                   data-abc="true" class="collapsed" aria-expanded="false">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title d-inline">Yazarlar </h6>
                </a>
            </header>
            <div class="filter-content collapse" id="collapse_aside4">
                <div class="card-body overflow-auto" style="height: 20rem;">
                    @foreach (var author in (IEnumerable<ItemCheckedModel>)TempData["Authors"] == null ? (IEnumerable<ItemCheckedModel>)ViewBag.Authors : (IEnumerable<ItemCheckedModel>)TempData["Authors"])
                    {
                        <label class="custom-control">

                            <input type="hidden" name="publisher" value="@author.ItemName" />
                            <input type="hidden" name="publisherId" value="@author.ItemId" />
                            <input type="checkbox" id="chkAuthor@(author.ItemId)" checked="@author.IsCheck"
                                   class="custom-control-input">
                            <div class="custom-control-label">@author.ItemName</div>
                        </label>
                    }
                </div>
            </div>
        </article>
    </div>
</div>
<!-- Sidebar filter section -->
<section id="sidebar">

    <div class="pt-5 border-bottom ml-3">

        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside2"
                   data-abc="true" aria-expanded="True">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title d-inline">Fiyat </h6>
                </a>
            </header>

            <div class="filter-content collapse show" id="collapse_aside2" style="">
                <div class="card-body">
                    @minPrice
                    <i class='fa fa-try' aria-hidden='true'></i>
                    <input type="range" class="custom-range" min="@minPrice" max="@maxPrice" name="range" id="rangeSlider" oninput="sliderChange(this.value)">
                    @maxPrice
                    <i class='fa fa-try' aria-hidden='true'></i>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Min</label>
                            <input class="form-control"
                                   placeholder="@(Convert.ToInt32(minPrice))₺" type="number" name="minPrice" id="minPrice" min="0">
                        </div>
                        <div class="form-group text-right col-md-6">
                            <label>Max</label>
                            <input class="form-control"
                                   placeholder="@(Convert.ToInt32(maxPrice))₺" type="number" name="maxPrice" id="maxPrice">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-xl" style="width: 100%;" onclick="getProduct()">
                        Uygula
                    </button>
                </div>
            </div>
        </article>

    </div>
    <div class="py-2 border-bottom ml-3">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside3"
                   data-abc="true" aria-expanded="True">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title d-inline">Yayınevleri </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_aside3">

                <input type="text" placeholder="Yayınevi ara" id="searchInput">
                <div class="card-body overflow-auto" id="publisherDiv" style="height: 250px;">
                    @{
                        var publisherIds = (List<string>)ViewBag.publisherId;
                        var authorIds = (List<string>)ViewBag.authorId;
                    }
                    @foreach (var publisher in (IEnumerable<ItemCheckedModel>)TempData["Publishers"] == null ? (IEnumerable<ItemCheckedModel>)ViewBag.Publishers : (IEnumerable<ItemCheckedModel>)TempData["Publishers"])
                    {

                        <input type="hidden" name="publisher" value="@publisher.ItemName" />
                        <input type="hidden" name="publisherId" value="@publisher.ItemId" />
                        <label class="checkbox-btn">
                            @if (publisherIds != null)
                            {
                                if (publisherIds.Any(i => int.Parse(!String.IsNullOrEmpty(i) ? i : "0") == publisher.ItemId))
                                {
                                    <input type="checkbox" name="chkPublisher" id="chkPublisher@(publisher.ItemId)" class="chkPublisher" checked="checked" onclick="getProduct()" value="@publisher.ItemId">
                                    <span class="btn btn-light"> @publisher.ItemName </span>

                                }

                                else
                                {
                                    <input type="checkbox" name="chkPublisher" id="chkPublisher@(publisher.ItemId)" class="chkPublisher" onclick="getProduct()" value="@publisher.ItemId">
                                    <span class="btn btn-light"> @publisher.ItemName </span>

                                }
                            }

                            else
                            {
                                <input type="checkbox" name="chkPublisher" id="chkPublisher@(publisher.ItemId)" class="chkPublisher" onclick="getProduct()" value="@publisher.ItemId">
                                <span class="btn btn-light"> @publisher.ItemName </span>

                            }
                        </label>

                    }


                </div>
            </div>

        </article>
    </div>
    <div class="py-2 ml-3">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_aside4"
                   data-abc="true" aria-expanded="True">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title d-inline">Yazarlar </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_aside4" style="">
                <input type="text" name="authorInput" id="authorInput" placeholder="Yazar ara">
                <div class="card-body overflow-auto" style="height: 250px;" id="authorDiv">
                    @foreach (var author in (IEnumerable<ItemCheckedModel>)TempData["Authors"] == null ? (IEnumerable<ItemCheckedModel>)ViewBag.Authors : (IEnumerable<ItemCheckedModel>)TempData["Authors"])
                    {


                        <input type="hidden" name="author" value="@author.ItemName" />
                        <input type="hidden" name="authorId" value="@author.ItemId" />
                        <label class="checkbox-btn">
                            @if (authorIds != null)
                            {
                                if (authorIds.Any(i => int.Parse(!String.IsNullOrEmpty(i) ? i : "0") == author.ItemId))
                                {
                                    <input type="checkbox" id="chkAuthor@(author.ItemId)" name="chkAuthor" class="chkAuthor" @*checked="@author.IsCheck"*@ checked="checked" onclick="getProduct()" value="@author.ItemId">
                                    <span class="btn btn-light">@author.ItemName</span>
                                }

                                else
                                {
                                    <input type="checkbox" id="chkAuthor@(author.ItemId)" name="chkAuthor" class="chkAuthor" onclick="getProduct()" value="@author.ItemId">
                                    <span class="btn btn-light">@author.ItemName</span>
                                }
                            }

                            else
                            {
                                <input type="checkbox" id="chkAuthor@(author.ItemId)" name="chkAuthor" class="chkAuthor" onclick="getProduct()" value="@author.ItemId">
                                <span class="btn btn-light">@author.ItemName</span>
                            }
                        </label>
                    }
                </div>
            </div>
        </article>
    </div>
</section>
@{
    var itemViewModel = (ItemViewModel)TempData["ItemViewModel"];
    //var booksByPublisher = (ItemViewModel)TempData["BooksByPublisher"];
}
@if (Model.Books.Count() > 0)
{


    <div class="row mb-3" id="product" style="margin-top: 5rem;">
        @Html.Partial("_GetProduct", itemViewModel == null ? Model : itemViewModel)
    </div>
}
@* Sayfalar yüklenirken gelen gif*@
<div class="preload">
    <img src="/Content/images/preloaders.gif" class="preload-img" />
</div>



@section scripts
{
    <script>
        function sliderChange(val) {
            document.getElementById('minPrice').value = parseInt(@minPrice);
            document.getElementById('maxPrice').value = parseInt(val);
        }

        document.getElementById('rangeSlider').value = 2;
    </script>

    @* Live Search*@
    <script>
        jQuery("#searchInput").on("keyup",
            function () {
                var value = $(this).val().toLowerCase();
                jQuery("#publisherDiv *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });

        jQuery("#authorInput").on("keyup",
            function () {
                var value = $(this).val().toLowerCase();
                jQuery("#authorDiv *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
    </script>

    <script>

        function getProduct() {
            var minPrice = $('#minPrice').val();
            var maxPrice = $("#maxPrice").val();
            var publishers = [];
            var authors = [];
            $('.chkPublisher:checkbox:checked').each(function() {
                publishers.push($(this).attr("value"));
            });

            $('.chkAuthor:checkbox:checked').each(function() {
                authors.push($(this).attr("value"));
            });

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetWebsite", "Home")',

                traditional: true,
                data: { publisher: publishers, minPrice: minPrice, maxPrice: maxPrice, author: authors },

                success: function(result) {
                    $(".preload").fadeIn(1000,
                        function() {
                            $("#product").html(result).fadeIn(750);
                        });

                    if (authors.length == 0) {
                        if (minPrice == "" && maxPrice == "") {
                            history.pushState("", " ", '?' + 'publisher=' + publishers);
                        } else {
                            history.pushState("", " ", '?' + (publishers.length == 0 ? '' : 'publisher=' + publishers + '&') + (minPrice == '' ? '@minPrice' : 'minPrice=' + minPrice + '&') + (maxPrice == '' ? '@maxPrice' : 'maxPrice=' + maxPrice));

                        }

                    } else {
                        if (minPrice == "" && maxPrice == "") {
                            history.pushState("", "", '?' + (publishers.length == 0 ? '' : 'publisher=' + publishers + '&') + 'author=' + authors);
                        } else {
                            history.pushState("", "", '?' + (publishers.length == 0 ? '' : 'publisher=' + publishers + '&') + 'author=' + authors + '&' + (minPrice == '' ? '@minPrice' : 'minPrice=' + minPrice + '&') + (maxPrice == '' ? '@maxPrice' : 'maxPrice=' + maxPrice));
                        }

                    }

                },
                error: function() {
                    alert('Error.');
                }
            }).done(function() {
                $("#thisButton").show();
                $(".preload").fadeOut(750);
            });
        };
    </script>

    <script>
        @* Slide otomatik geçiş süresi. Default 5000ms  *@
        $('.carousel').carousel({
            interval: 7000
        })
    </script>

}


