@using WebScraping.WebUI.Models
@model List<WebScraping.WebUI.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

@section styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        input {
            max-width: 400px !important;
        }

        .image {
            display: block;
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
        }

        img.img {
            max-width: 150px;
            max-height: 225px;
            position: relative;
            vertical-align: middle;
            left: 50%;
            transform: translate(-50%);
            height: 200px;
            width: 125px;
            object-fit: cover;
        }
    </style>
}
<div class="row">

    <div class="col-md-12">
        <div id="website">
            <form action="~/Home/GetWebsite" method="POST">
                <input type="hidden" id="hiddenWebsite" name="website">
                <label for="selectWebsite">Website</label>
                <select class="selectpicker" data-live-search="true" data-style="btn-primary" id="selectWebsite" data-width="auto" multiple>
                    @foreach (var item in Model.Select(x => x.Website).Distinct())
                    {
                        <option value="@item" name="@item">@item</option>

                    }

                </select>
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>

        <hr>
        <form action="/Home/Search" method="POST">
            <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Search" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>
<form action="/Home/GetBooksByPublisher" method="POST">
    @{ var viewDataOtherPublishers = (List<Book>)TempData["OtherPublishers"];}
    @if (viewDataOtherPublishers != null)
    {
        <h2 class="text-center">@viewDataOtherPublishers[0].Name</h2>
        foreach (var publisher in viewDataOtherPublishers)
        {
            <div class="image">
                <img src="@publisher.Image" class="img" alt="Item Image" />
                <h2 class="text-center">@publisher.Publisher</h2>
            </div>
        }
    }

</form>

@{ var viewDataBook = (List<Book>)TempData["Books"];}
@if (viewDataBook != null)
{
    <p class="text-center h2">Best Seller</p>
    <div class="container">
        <div class="row">
            @foreach (var book in viewDataBook)
            {

                <div class="col-md-2 d-flex align-items-stretch mb-1">
                    <div class="card border-0" style="width: 10rem;">
                        <div class="image">
                            <img src="@book.Image" class="card-img-top img" alt="..." id="img">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@(book.Name.Length>20?book.Name.Substring(0,20):book.Name)</h5>
                            <p class="card-text">@book.Price</p>
                            <p class="card-text">@book.Website</p>
                            <p class="card-text">@book.Publisher</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


@section scripts
{

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://developer.snapappointments.com/bootstrap-select/search/main.js"></script>




    <script>

        $('.selectpicker').selectpicker();
    </script>

    @* Multiselect seçilen elemanın hidden elementine eklenmesi*@
    <script>
        let select = document.getElementById("selectWebsite");
        let hidden = document.getElementById("hiddenWebsite");
        var selected = [];
        select.addEventListener("change",
            function () {

                for (var option of select.options) {
                    if (option.selected) {
                        selected.push(option.value);
                    }
                }
                hidden.value = selected;
                selected = [];
            });
    </script>

}
