<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Best WebScraping</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .switch {
            align-self: center;
        }

        .inner-switch {
            display: inline-block;
            cursor: pointer;
            border: 1px solid #555;
            border-radius: 1.25rem;
            width: 3.125rem;
            text-align: center;
            font-size: 1rem;
            padding: 0.1875rem;
            margin-left: 0.3125rem;
        }

        .dark,
        .dark * {
            background-color: #222;
            color: #e6e6e6;
            border-color: #e6e6e6;
        }


        @* Autocomplete *@
        ul#ui-id-1 {
            width:auto;
            max-width: 400px !important;
            height: auto !important;
            max-height:300px;
            overflow: scroll;
        }

        .list_item_container {
            width: 350px;
            margin-bottom: 3rem;
        }

        .image1 {
            width: 90px;
            height: 90px;
            margin-right: 10px;
            float: left;
            border: none;
        }

        .image1 img {
            width: 70%;
        }
    @* End Autocomplete css *@

    </style>
</head>
<body>

    <div class="container-fluid body-content">
        @RenderBody()


        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Best WebScraping</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    @* Darkmode switch *@
    <script>
        $(".inner-switch").on("click", function () {
            if ($("body").hasClass("dark")) {
                $("body").removeClass("dark");
                $(".inner-switch").text("OFF");
            } else {
                $("body").addClass("dark");
                $(".inner-switch").text("ON");
            }
        });
    </script>

    @* Autocomplete *@
    <script>
    $(function() {
        $('#searchText').autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: '@Url.Action("Search", "Home")',
                    data: { term: request.term },
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    success: function(data) {
                        response($.map(data,
                            function(item) {
                                return {
                                    value: item.Image,
                                    label: item.Name,
                                    
                                }
                            }));
                    }
                });
            }
        }).data("ui-autocomplete")._renderItem = function (ul, item) {
            var innerHtml =
                '<button style="border:0px;margin-bottom:2px;"><a href="/Home/SearchItem?query=' +
                    item.label +
                    '">' +
                    '<div class="list_item_container"><div class="image1"><img src="' +
                    item.value +
                '"></div><div class="label">' +
                item.label
                    '</div></a></button>';
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append(innerHtml)
                .appendTo(ul);
        };;
    });
    </script>
</body>
</html>
