@using WebScraping.Entities
@using WebScraping.WebUI.ViewModel
@model ItemViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var viewDataOtherPublishers = (List<Book>)TempData["OtherPublishers"];
    var viewDataBook = (List<Book>)TempData["Books"];
    var viewDataItem = (List<Book>)TempData["Entities"];
    var viewDataWebsiteBooks = (List<Book>)TempData["WebsiteBooks"];
    var viewDataBooksLogo = (Dictionary<string, string>)TempData["BooksLogoUrl"];
}

@section scripts
{
    <style>
        .image {
            margin-bottom: 0;
        }

        .center {
            margin: auto;
            width: 100%;
            border: 0.1px solid antiquewhite;
            padding: 10px;
        }
    </style>
}

@Html.Partial("_NavbarPartial")

@if (viewDataOtherPublishers != null)
{

    <div class="container text-center">

        <h2 class="text-success">Arama Sonuçları</h2>
        <p class="text-muted">Toplam @viewDataOtherPublishers.Count ürün gösteriliyor. Aranan ürün: <span class="text-success">@((string)TempData["SearchText"])</span></p>
        <div class="row">
            @foreach (var publisher in viewDataOtherPublishers)
            {
                <div class="col-md-4 mt-5">
                    <h2 class="text-primary" id="bookName">@publisher.Name</h2>

                    <div class="image">
                        <img src="@publisher.Image" class="img" alt="Item Image" />
                    </div>
                    <h3 class="text-center">@publisher.Publisher</h3>
                    <div class="text-center">
                        <form action="/Home/GetBooksByWebsitePrice" method="POST">
                            <input type="hidden" id="bookName" name="bookName" value="@publisher.Name">
                            <input type="hidden" id="bookPublisher" name="bookPublisher" value="@publisher.Publisher">
                            <button type="submit" class="btn btn-primary btn-lg" style="width: 150px;">Seç</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
}

@if (viewDataItem != null)
{
    <div class="image">
        <img src="@viewDataItem[0].Image" class="card-img-top img" alt="Item Image" />
    </div>
    <h2 class="text-center text-primary" id="bookName">@viewDataItem[0].Name</h2>

    <div class="container">

        <div class="row mt-5">
            @foreach (var book in viewDataItem)
            {
                foreach (var logo in viewDataBooksLogo)
                {
                    if (logo.Key.ToLower().Contains(book.Website.Name.ToLower()))
                    {
                        <div class="row center" style="width: 80%; background-color: antiquewhite;">
                            <div class="col-md-3">
                                <span class="site_logo">
                                    <img src="@logo.Value" class="logo">
                                </span>
                            </div>
                            <div class="col-md-4">

                                <h5>
                                    <i class="fa fa-book" aria-hidden="true"></i> @(book.Publisher)
                                </h5>
                            </div>
                            <div class="col-md-2">
                                <h3>
                                    <span class="badge badge-pill badge-secondary">
                                        @book.Price <i class='fa fa-try' aria-hidden='true'></i>
                                    </span>
                                </h3>
                            </div>
                            <div class="col-md-2">

                                <a href="@book.BookDetailUrl" class="btn btn-primary" style="border-radius: 20px;">
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Siteye git
                                </a>
                            </div>
                            @if (book.WebsiteId == viewDataItem[0].WebsiteId)
                            {
                                <div class="col-md-1">

                                    <h5><span class="badge badge-pill badge-success"> @(viewDataItem.Count == 1 ? "" : "En ucuz") </span></h5>
                                </div>
                            }

                        </div>

                    }
                }

            }
        </div>
    </div>

}

else if (viewDataBook != null && viewDataBook.Count > 0 && viewDataOtherPublishers == null)
{
    <div class="image">
        <img src="@viewDataBook[0].Image" class="card-img-top img" alt="Item Image">
    </div>
    <h3 class="text-center text-primary">@viewDataBook[0].Name</h3>

    <div class="container">
        <div class="row mt-5">
            @foreach (var book in viewDataBook)
            {

                foreach (var logo in viewDataBooksLogo)
                {
                    if (book.Website.Name.Equals(logo.Key))
                    {
                        <div class="row center" style="width: 80%; background-color: antiquewhite;">
                            <div class="col-md-3">
                                <span class="site_logo">
                                    <img src="@logo.Value" class="logo">
                                </span>
                            </div>
                            <div class="col-md-4">
                                <h5> <i class="fa fa-book" aria-hidden="true"></i> @(book.Publisher) </h5>
                            </div>
                            <div class="col-md-2">
                                <h3>
                                    <span class="badge badge-pill badge-secondary ">
                                        @book.Price <i class='fa fa-try' aria-hidden='true'></i>
                                    </span>
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <a href="@book.BookDetailUrl" class="btn btn-primary" style="border-radius: 20px;">
                                    <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i> Siteye git
                                </a>

                            </div>

                            @if (book.WebsiteId == viewDataBook[0].WebsiteId)
                            {
                                <div class="col-md-1">

                                    <h5><span class="badge badge-pill badge-success">En ucuz</span></h5>
                                </div>
                            }
                        </div>
                    }
                }

            }
        </div>
    </div>

}




@if (viewDataBook.Count == 0)
{
    <div class="alert alert-danger m-5 h3"> Aranılan ürün bulunamadı! </div>
}